// app.component.scss
:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh; // Force the app to be at least the full height of the screen
}

main {
  flex: 1; // This tells 'main' to grow and take up all available space, pushing the footer down
}